rclone.conf
portainer/
spigot/worlds
spigot/locals/*
!spigot/locals/ops.json
!spigot/locals/permissions.yml
!spigot/locals/server.properties
spigot/plugins/dynmap/**
!spigot/plugins/dynmap/configuration.txt
!spigot/plugins/dynmap/markers.yml
spigot/plugins/Shopkeepers/**
!spigot/plugins/Shopkeepers/config.yml
spigot/plugins/WorldGuard/**
!spigot/plugins/WorldGuard/config.yml
spigot/plugins/WorldEdit/**
!spigot/plugins/WorldEdit/config.yml