 0 7 * * * docker exec root-spigot-1 rcon "say ATTENTION: Server will restart in one hour!"
30 7 * * * docker exec root-spigot-1 rcon "say ATTENTION: Server will restart in 30 minutes!"
50 7 * * * docker exec root-spigot-1 rcon "say ATTENTION: Server will restart in 10 minutes!"
55 7 * * * docker exec root-spigot-1 rcon "say ATTENTION: Server will restart in 5 minutes!"
59 7 * * * docker exec root-spigot-1 rcon "say ATTENTION: Server will restart in one minute!"
 0 8 * * * docker exec root-spigot-1 rcon "stop"